<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ post.title }}</div>

                    <div class="panel-body">
                        {{ post.body }}
                    </div>
                </div>

                <comment-tree :post_id="post.id"></comment-tree>
            </div>
        </div>

    </div>
</section>