<template src="./post.html"></template>
<script>
    import CommentTree from './../comment/comment-tree.vue';

    export default {
        props: {
            post: null,
            api_url: null,
        },
        data() {
            return {
                comments: '',
            }
        },
        components: {
            CommentTree,
        },
    }
</script>
