<template src="./comment-tree.html"></template>
<script>
    import Item from './item.vue'
    import NewComment from './new.vue';

    export default {
        props: {
            post_id: null,
        },
        data() {
            return {
                treeData: {},
                add_new: null,
            }
        },

        components: {
            'item-tree': Item,
            NewComment
        },
        mounted() {
            axios.get('api/comments?post_id=' + this.post_id).then((response) => {
                this.treeData = response.data.data;
            });
        }


    }
</script>
