<section>
    <button class="btn btn-info" v-if="!add_new" v-on:click="add_new = true">Add comment</button>
    <button class="btn btn-success" v-if="add_new" v-on:click="add_new = null">Cancel</button>
    <br><br><br>
    <new-comment v-if="add_new" :post_id="post_id" :parent_id="null"></new-comment>

    <div v-for="model in treeData" :key="model.id">
        <item-tree :model="model" :post_id="post_id"></item-tree>
    </div>
</section>