<section  style="margin-left: 20px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <button class="btn btn-info" v-if="!add_new" v-on:click="add_new = true">Add comment</button>
            <button class="btn btn-success" v-if="add_new" v-on:click="add_new = null">Cancel</button>
            <button class="btn btn-warning" v-on:click="edit_form = true">Edit</button>
            <button class="btn btn-danger" v-on:click="deleteComment">Delete</button>
        </div>

        <div class="panel-body" v-if="!edit_form">
            {{ data_model.body }}
        </div>
        <div class="panel-body" v-if="edit_form">
            <textarea v-model="body" cols="70" rows="5"></textarea><br>
            <button class="btn btn-primary" v-on:click="update">Update</button>
        </div>
    </div>

    <new-comment v-if="add_new" :post_id="post_id" :parent_id="model.id"></new-comment>

    <div v-if="isFolder">
        <item v-for="model in model.children" :model="model" :key="model.id" :post_id="post_id">
        </item>
    </div>
</section>