<template src="./item.html"></template>
<script>
    import Item from './item.vue'
    import NewComment from './new.vue'
    export default {
        data() {
            return {
                add_new: null,
                edit_form: null,
                body: this.model.body,
                data_model: this.model
            }
        },
        props: {
            model: null,
            post_id: null,
        },
        computed: {
            isFolder: function () {
                return this.model.children &&
                    this.model.children.length
            }

        },
        beforeCreate: function () {
            this.$options.components.item = require('./item.vue')
        },
        methods: {
            new_form: function() {
                this.add_new = true;
            },
            deleteComment() {
                axios.delete('api/comments/' + this.model.id)
                    .then((response) => {
                        if(this.model.parent_id){
                            this.$parent.model.children.splice(this.$parent.model.children.indexOf(this.model), 1)
                        }
                        else {
                            this.$parent.treeData.splice(this.$parent.treeData.indexOf(this.model), 1)
                        }
                    });
            },
            update(){
                axios.put('api/comments/' + this.model.id, {body:this.body})
                    .then((response) => {
                    this.data_model = response.data.data;
                    this.edit_form = null
            });
            },
        },
        components:{
            NewComment
        },


    }
</script>
