<template src="./new.html"></template>
<script>
    export default {
        data() {
            return {
                body: '',
            }
        },
        props: {
            post_id: null,
            parent_id: null,
        },
        methods: {
            save() {
                // console.log(this.$parent.$children)
                if(this.parent_id) {
                    var data = {
                        post_id: this.post_id,
                        parent_id: this.parent_id,
                        body: this.body
                    }
                }
                else {
                    var data = {
                        post_id: this.post_id,
                        body: this.body
                    }
                }
                axios.post('api/comments', data).then((response) => {
                    this.$parent.add_new = null;
                    if(this.parent_id) {
                        this.$parent.model.children.unshift(response.data.data);
                    }
                    else {
                        this.$parent.treeData.unshift(response.data.data);
                    }
                });
            }
        }


    }
</script>
