<section  style="margin-left: 20px;">
    <div class="panel panel-default">
       <div class="panel-body">
           <textarea v-model="body" cols="70" rows="5"></textarea><br>
           <button class="btn btn-primary" v-on:click="save">Save</button>
        </div>
    </div>
</section>